.container {
	margin-top: 2em;
}

.bordered-box {
	padding: 1em;
	border: 1px solid grey;
}

.alert-success {
	display: none;
}

.leaderboard > div > img {
	width: 60px;
}

.canvasjs-chart-credit {
	display: none;
}

.clearfix {
	padding: 0.5em;
}

.clearfix::after {
  	content: "";
  	clear: both;
  	display: table;
}

.progress, .progress-bar {
	height: 2em;
}

@media only screen and (max-width:768px) {
	/* For tablets: */
	.leaderboard > div > img {
		width: 60px;
	}
}