.container {
	margin-top: 2em;
}

.bordered-box {
	padding: 1em;
	border: 1px solid grey;
}

.alert-success {
	display: none;
}

.canvasjs-chart-credit {
	display: none;
}

.clearfix {
	padding: 0.5em;
}

.clearfix::after {
  	content: "";
  	clear: both;
  	display: table;
}

.progress, .progress-bar {
	height: 2em;
}